<h2>Welcome!</h2>

<i><%= ENV["APP_NAME"] %></i> is a platform which manages a list of media you can borrow from other users. 

<div class="row marketing" style="margin-top: 30px">
  <div class="col-lg-6">
      <h3>Available features</h3>
      <ul>
        <li>Manage media like dvds or books in your library</li>
        <li>Show all currently available media</li>
        <li>Search for media you would like to borrow from other users</li>
        <li>Lend media to other users</li>
      </ul>

      See our <a href="https://github.com/thomaseger/media/blob/master/doc/features.md" target="_blank">feature list</a> for detailed information on what is planned in the future.
  </div>

    <div class="col-lg-6" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Get started!</h3>
        </div>
        <div class="panel-body">
          <p>
            If you don't have an account you may <strong><%= link_to 'sign up', new_user_registration_path %></strong> to access <i><%= ENV["APP_NAME"] %></i>. Otherwise you can sign in here: 
          </p>
          <p>
            <%= form_for("user", :url => user_session_path) do |f| %>
              <div class="form-group">
                <%= f.label :email %> <br />
                <%= f.text_field :email, :class => 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %> <br />
                <%= f.password_field :password, :class => 'form-control' %>
              </div>
              <!--
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> Remember me
                </label>
              </div>
            -->
              <div class="form-group">
                <%= f.submit 'Sign in', :class => 'btn btn-primary' %> or <%= link_to 'Sign up', new_user_registration_path %>
              </div>
            <% end %>              
          </p>
        </div>
      </div>
    </div>
  </div>

  <p style="margin-top: 50px">
      <small>This software is provided without warranty and the software author cannot be held liable for damages. <a href="https://raw.github.com/thomaseger/media/master/LICENSE">See the license for more details.</a></small>
  </p>

