<% if @media_item.errors.any? %>
  <div class="alert alert-danger">
    <p><strong>Sorry!</strong> <%= pluralize(@media_item.errors.count, "error") %> occured:</p>
    <ul>
    <% @media_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @media_item do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control' %>
    <% if ENV['FT_AUTO_FILL'] ==  'true' %>
      <a href="todo">Try to fill automatically</a>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.url_field :link, :class => 'form-control'  %>
  </div>
  
  <div class="form-group">
    <%= f.label :type %>
    <%= f.collection_select :type, Type.order("name ASC"), :id, :name, {:prompt => false}, {:class => 'form-control'}  %>
  </div>
  
  <%= f.submit "Submit", :class => 'btn btn-primary' %>

<% end %>
