  <% if user_signed_in? %>
    <%= link_to ENV["APP_NAME"], media_items_path, :class => 'navbar-brand' %>
  <% else %>
    <%= link_to ENV["APP_NAME"], root_path, :class => 'navbar-brand' %>
  <% end %>

  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li>
        <%= link_to 'New media item', new_media_item_path %>
      </li>
      <li>
        <%= link_to 'All media items', media_items_path %>
      </li>
      <% if ENV["FT_TYPES"] == "true" %>
        <li>
          <%= link_to 'New type', new_type_path %>
        </li>
        <li>
          <%= link_to 'All types', types_path %>
        </li>
      <% end %>
      <% if ENV["FT_SEARCH"] == 'true' %>
        <li>
            <%= form_tag "/media_items", :method => :get, :class => "navbar-form navbar-left" do %>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], :id => 'search_field', :class => "form-control", :placeholder => "Search" %>
              </div>
            <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% end %>
    <% if user_signed_in? && ENV["FT_EDIT_ACCOUNT"] == "true" %>
      <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
    <% end %>
  </ul>

